# Ignore everything
*
# Allow 1st level subdirs
!*/

# Recursively allow all subdirs under specified 1st-level subdir
!/foo/**

# Whitelist per file name
!.gitignore
!.dockerignore
!Makefile
!Makefile.settings
!favicon.png

# Whitelist per file type
!*.sql
!*.sh
!*.yml
!*.yaml
!*.json
!*.tf
!*.Dockerfile
!*.dockerfile
!*.sh
!*.go 
!*.js
!*.css
!*.md
!*.log

# Ignore : Override whitelist

**/LOG.md
