[core]
	autocrlf = false
	safecrlf = false
	editor = vim
	pager  = less -x1,3
	excludesfile = ~/.gitignore_global
[user]
	name    = dev
	email   = sempernow.com@gmail.com
	account = sempernow
[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
[push]
	default = current
[alias]
	g = grep --break --heading --line-number
[grep]
	lineNumber = true
[init]
	defaultBranch = master
