CONTRIBUTORS
LICENSE
Makefile
Dockerfile
README.*
LOG.*
docker-compose.*

**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
**/.venv
**/.pgpass
**/.DS_Store

**/REFs
**/Terraform
**/archives
**/backup
**/keys
**/secrets


